@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@200;300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.myinput:focus {
  outline: 1px solid rgba(82, 192, 124, 0.5);
  box-shadow: 0 0 0 0.3rem rgba(95, 226, 145, 0.5);
}

.dark .myinput:focus {
  outline: 1px solid rgba(82, 192, 124, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(98, 168, 17, 0.507);
}

.toggleOff span {
  @apply translate-x-0;
}

.toggleOn {
  @apply bg-cyan-500;
}

.toggleOn span {
  @apply translate-x-5;
}
